package {{.Package}}

import (
{{- range $path, $_ := .Imports}}
	"{{$path}}"
{{- end}}
)

var _ = fmt.Sprint
var _ fyne.CanvasObject
var _ = container.NewVBox
var _ = widget.NewLabel
{{- if index .Imports "fyne.io/fyne/v2/layout"}}
var _ = layout.NewSpacer
{{- end}}

func ternary[T any](cond bool, a, b T) T {
	if cond {
		return a
	}
	return b
}
{{if index .Imports "time"}}
func mustParseDuration(s string) time.Duration {
	d, err := time.ParseDuration(s)
	if err != nil { panic(err) }
	return d
}

func mustParseDate(s string) time.Time {
	t, err := time.Parse("2006-01-02", s)
	if err != nil { panic(err) }
	return t
}

func mustParseTime(s string) time.Time {
	t, err := time.Parse("15:04:05", s)
	if err != nil {
		t, err = time.Parse("15:04", s)
		if err != nil { panic(err) }
	}
	return t
}

func mustParseDateTime(s string) time.Time {
	t, err := time.Parse(time.RFC3339, s)
	if err != nil { panic(err) }
	return t
}
{{end}}
{{- range .Structs}}
type {{.Name}} struct {
{{- range .Fields}}
	{{.Name}} {{.Type}}
{{- end}}
}

{{end}}
{{- if .NeedsToast}}
type snglToast struct {
	message string
	variant string
}

{{end -}}
// Model holds the state for this SNGL UI.
type Model struct {
{{- range .Binds}}
	{{.Name}} {{.GoType}}
{{- end}}
{{- range .Externs}}
	{{.Name}} {{.GoType}} // extern
{{- end}}
{{- if .Binds}}
{{end}}
{{- range .WidgetFields}}
	{{.Name}} {{.GoType}}
{{- end}}
{{- if .WidgetFields}}
{{end}}
{{- range .Timers}}
	timer{{.Index}}Ticker *time.Ticker
{{- end}}
{{- if .NeedsToast}}
	toasts     []snglToast
	toastLabel *widget.Label
	toastBox   *fyne.Container
{{- end}}
}

// New creates a Model with default values.
func New() *Model {
	m := &Model{
{{- range .Binds}}
		{{.Name}}: {{.InitVal}},
{{- end}}
	}
	return m
}

func (m *Model) doRefresh() {
{{- range .UpdaterNames}}
	m.{{.}}()
{{- end}}
}
{{if .NeedsToast}}
func (m *Model) showToast(msg, variant string) {
	m.toasts = append(m.toasts, snglToast{msg, variant})
	m.updateToast()
	time.AfterFunc(3*time.Second, func() {
		fyne.Do(func() {
			if len(m.toasts) > 0 {
				m.toasts = m.toasts[1:]
			}
			m.updateToast()
		})
	})
}

func (m *Model) updateToast() {
	if m.toastLabel == nil { return }
	if len(m.toasts) > 0 {
		m.toastLabel.SetText(m.toasts[0].message)
		m.toastBox.Show()
	} else {
		m.toastBox.Hide()
	}
}
{{end}}
{{- range .Computeds}}
func (m *Model) {{.Name}}() {{.GoType}} {
	return {{.Body}}
}

{{end}}
{{- .FunctionCode}}
{{- range .Binds}}
func (m *Model) {{.Getter}}() {{.GoType}} {
	return m.{{.Name}}
}

func (m *Model) Set{{.Getter}}(v {{.GoType}}) {
	m.{{.Name}} = v
{{ .SetterExtra -}}
}

{{end}}
{{- if .HasTimers}}
// StartTimers starts all active timers.
func (m *Model) StartTimers() {
{{- range .Timers}}
	if m.{{.ActiveVar}} {
		m.timer{{.Index}}Ticker = time.NewTicker({{.IntervalMs}} * time.Millisecond)
		go func() {
			for range m.timer{{.Index}}Ticker.C {
				fyne.Do(func() {
{{.Body}}
{{.AffectedUpdaters}}				})
			}
		}()
	}
{{- end}}
}

// StopTimers stops all active timers.
func (m *Model) StopTimers() {
{{- range .Timers}}
	if m.timer{{.Index}}Ticker != nil {
		m.timer{{.Index}}Ticker.Stop()
	}
{{- end}}
}
{{end}}
