<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{.Package}}"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="{{.MinSdk}}" android:targetSdkVersion="{{.TargetSdk}}" />
{{- if .HasTestAgentBootstrap}}
    <!-- INTERNET is required for the on-device test agent's loopback
         ServerSocket (the host driver adb-forwards a TCP port to it). -->
    <uses-permission android:name="android.permission.INTERNET" />
{{- end}}
    <application
        android:allowBackup="true"
        android:label="{{.AppName}}"
{{- if .HasIcon}}
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
{{- end}}
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
{{- if .Activities}}
{{- range .Activities}}
        <activity
            android:name=".{{.Name}}"
            android:exported="true">
{{- if .IsLauncher}}
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
{{- end}}
        </activity>
{{- end}}
{{- else}}
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
{{- end}}
    </application>
</manifest>
