component "vbox" {
    @children "many"
}

component "hbox" {
    @children "many"
}

component "stack" {
    @children "many"
}

component "text" {
    @prop "value" (string)null
    @prop "selectable" (bool)null
    @event "click" "ClickEvent"
    @children "none"
}

component "button" {
    @prop "text" (string)null
    @prop "disabled" (bool)null
    @event "click" "ClickEvent"
    @event "long-press" "LongPressEvent"
    @children "many"
}

component "input" {
    @prop "value" (string)null
    @prop "placeholder" (string)null
    @prop "disabled" (bool)null
    @prop "readonly" (bool)null
    @prop "type" (string)null {
        @enum "text" "password" "number" "email" "url" "tel" "search"
    }
    @prop "max-length" (int)null
    @event "input" "InputEvent"
    @event "change" "ChangeEvent"
    @event "focus" "FocusEvent"
    @event "blur" "FocusEvent"
    @event "submit" "SubmitEvent"
    @children "none"
}

component "image" {
    @prop "src" (string)null
    @prop "alt" (string)null
    @prop "fit" (string)null {
        @enum "contain" "cover" "fill" "none" "scale-down"
    }
    @event "click" "ClickEvent"
    @event "load" "LoadEvent"
    @event "error" "ErrorEvent"
    @children "none"
}

component "scroll" {
    @prop "direction" (string)null {
        @enum "vertical" "horizontal" "both"
    }
    @prop "scroll-x" (float)null
    @prop "scroll-y" (float)null
    @prop "show-scrollbar" (string)null {
        @enum "auto" "always" "never"
    }
    @event "scroll" "ScrollEvent"
    @event "scroll-end" "ScrollEvent"
    @children "one"
}

component "spacer" {
    @prop "size" (dyn)null
    @children "none"
}

component "checkbox" {
    @prop "checked" (bool)null
    @prop "label" (string)null
    @prop "disabled" (bool)null
    @event "change" "ChangeEvent"
    @children "none"
}

component "slot" {
    @children "none"
}
