output {
    go {
        bubbletea package=main
    }
    js html
}
struct Todo {
    text (string)""
    done (bool)#false
}
data {
    newTodo (string)""
    todos (list:Todo)#null
}
computed {
    status (cel)"'Todo List (' + string(size(todos)) + ' items)'"
}
app {
    vbox style.gap=12 style.padding=16 {
        text value=(cel)status {
            @style {
                font-weight bold
                font-size 24
            }
        }
        hbox style.align-items=center style.align-self=center style.flex="" style.gap=8 style.text-align=center {
            input on:input=(cel)"set(newTodo, event.value)" placeholder="Buy eggs" style.flex-grow=1
            button on:click=(cel)"[push(todos, Todo(newTodo, false)), set(newTodo, '')]" text=Add
        }
        vbox style.gap=4 {
            checkbox checked=(cel)item.done for="item, index in todos" key=(cel)index label=(cel)item.text on:change=(cel)"toggle(todos[index].done)"
        }
        button on:click=(cel)"remove(todos, size(todos) - 1)" style.align-items=center text=Remove
    }
}
