struct "Todo" {
    text (string)""
    done (bool)false
}

bind {
    newTodo (string)""
    todos (list:Todo)null
}

computed {
    status (cel)"'Todo List (' + string(size(todos)) + ' items)'"
}

component "TodoItem" {
    @param "text" (string)""
    @param "done" (bool)false
    hbox style.gap=8 {
        text value=(cel)"done ? '[x]' : '[ ]'"
        text value=(cel)"text"
    }
}

app {
    vbox style.padding=16 style.gap=12 {
        text value=(cel)"status" { @style { font-weight "bold"; font-size 24 } }

        hbox style.gap=8 {
            input placeholder="What needs to be done?" on:input=(cel)"set(newTodo, event.value)"
            button text="Add" on:click=(cel)"[push(todos, Todo(newTodo, false)), set(newTodo, '')]"
        }

        vbox style.gap=4 {
            TodoItem for="item in todos" text=(cel)"item.text" done=(cel)"item.done"
        }

        button text="Remove Last" on:click=(cel)"remove(todos, size(todos) - 1)"
    }
}
